* {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

.header {
  position: relative;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-self: center;
  margin: 0px 0px 0px 64px;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.footer {
}

.content {
  margin: 0;
  padding: 0;
}

.logo {
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.logo_place_footer {

}

.description {
  position: relative;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  align-content: space-between;


}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0px;
}

.digits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;


}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
  text-align: center;

}

.section-subtitle {
  width: 60%;
  margin: 20px 0px 0px 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.table {
  padding: 0;
  width: 1100px;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell:nth-of-type(n+5) {

}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.table__text:nth-of-type(1n) {
  margin: 20px 0px 0px 0px;
}

.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  margin: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: 100px 0px 0px 0px;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 70px 0px 0px 0px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  top: 50%;
  right: 48px;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.section-title_theme_dark {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 90px 0px 20px 0px;
  text-align: center;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: white;
  z-index: 1;
}

.table_theme_dark {
  padding: 0;
  width: 1100px;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 90px auto;
  justify-content: space-between;
  z-index: 1;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;

}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
}


